/* ==========================================================================
   Styles - contains the global styles of the site
   ========================================================================== */


/* Generic styles */

a:link,
a:visited {
  @include transform(translate3d(0, 0, 0));
  @include transition-property(opacity, top, left, right);
  @include transition-duration(0.2s, 0.1s, 0.2s, 0.2s);
  @include transition-timing-function(ease, ease, ease, ease);
  @include transition-delay(0, 0, 0, 0);
  cursor: pointer;
}

a:hover,
a:focus {
  outline: none;
  opacity: 0.7;
}

a:active {
  position: relative;
  top: 2px;
}



#site-hdr {
	background-color: $primary-color;
	margin: 0;
	a {
		color: #fff;
	}
	#site-title {
		@include grid-column(10);
		font-weight: 700;
	}
	#primary {
		@include grid-column(2);
		ul {
			margin: 0;
			li {
				list-style: none;
			}
		}
	}
	@media #{$small-up} {
		#site-title {
			@include grid-column(3);
		}
		#primary {
			@include grid-column(9);
			text-align: right;
			ul {
				display: inline-block;
			}
			li {
				float: left;
			}
		}
	}
}

#site-title {
	@include grid-column(12);
}

nav#primary {
}

.content,
#site-ftr {
	@include grid-column(12);
}


article {
	.content {
		@include grid-column(8);
	}
	aside {
		@include grid-column(4);
	}
}