sample-content.sh

#System files
.project
.DS_Store
.sass-cache
node_modules
src/bower_components
_site

#Styles and Scrips
public/assets/styles/*
!public/assets/styles/.gitkeep
public/assets/scripts/*
!public/assets/scripts/.gitkeep
