html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #ECEDED;
}

body {
  background: transparent url('splash-temp.png') center center no-repeat;
}

.visually-hidden {
  border: 0 none;
  clip: rect(0px, 0px, 0px, 0px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}