<meta property="og:site_name" content="{{ site.name }}" />
<meta property="og:type" content="website" />
<meta property="og:title" content="{{ page.title }} - PH Org Finder" />
<meta property="og:url" content="{{ site.domain }}{{ page.url }}" />
{% if page.description %}
  <meta property="og:description" content="{{ page.description | strip_html | truncatewords: 40 }}" >
{% else %}
  <meta property="og:description" content="{{ site.description }}" >
{% endif %}
<meta property="og:image" content="{{ site.domain }}/assets/images/meta/og-image.png" />