/* ==========================================================================
   Styles - contains the global styles of the site
   ========================================================================== */


/* Generic styles */

html, body {
  height: 100%;
}

.row {
  @media #{$small-up} {	
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

a:link,
a:visited,
button {
  @include transform(translate3d(0, 0, 0));
  @include transition-property(opacity, top, left, right);
  @include transition-duration(0.2s, 0.1s, 0.2s, 0.2s);
  @include transition-timing-function(ease, ease, ease, ease);
  @include transition-delay(0, 0, 0, 0);
  cursor: pointer;
}

a:hover,
a:focus,
button:hover {
  outline: none;
  opacity: 0.7;
}

a:active,
button:active {
  position: relative;
  top: 2px;
}

a.disabled, .bttn.disabled {
  opacity: 0.4;
  cursor: default;
  &:hover, &:focus {
    opacity: 0.4;
  }
}

#site-head {
  position: relative;
  z-index: 80;
  background-color: $secondary-color;
  box-shadow: inset 0 -4px 0 0 shade($secondary-color, 15%), 0 4px 0 0 rgba($primary-color, 0.1);
  margin: 0;
  @extend .antialiased;
  @extend %global-text-shadow;
  color: #FFF;
	a {
    color: #fff;
	}
	.inner {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }
  .heading {
    @include grid-column(12);
    @media #{$medium-up} {
      @include grid-column(5);
    }
    a {
      float: left;
      position: relative;
      padding-top: 1.25rem;
      color: #FFF;
    }
  }
}

#prime-nav {
  .menu-wrapper {
    top: 4rem;
    left: 0;
    z-index: 100;
    position: absolute;
    width: 100%;
    background-color: $secondary-color;
    box-shadow: inset 0 -4px 0 0 shade($secondary-color, 15%), 0 4px 0 0 rgba($primary-color, 0.1);
    padding: $column-gutter/2 $column-gutter/2 $column-gutter $column-gutter/2;
    opacity: 0;
    visibility: hidden;
    @include transition-property(opacity, top, visibility);
    @include transition-duration(0.1s, 0.1s, 0.1s);
    @include transition-timing-function(ease, ease, linear);
    @include transition-delay(0, 0, 0);
    &.visible {
      opacity: 1;
      visibility: visible;
      top: 5rem;
    }
    &:before {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
      background: shade($secondary-color, 15%);
      width: 100%;
      height: 1px;
      box-shadow: 0 1px 0 0 tint($secondary-color, 30%);
      content: '';
    }
  }
  .menu-title {
    position: absolute;
    right: 1rem;
    top: 1.625rem;
    z-index: 1;
    margin: 0;
    span {
      @extend .visually-hidden;
    }
    a {
      display: block;
    }
    a:before {
      display: block;
      width: 2rem;
      height: 2rem;
      @extend .icon-menu;
      font-size: 2rem;
      color: #FFF;
      font-weight: normal;
      vertical-align: bottom !important;
    }
  }
  .menu-subtitle {
    color: inherit;
    font-size: 1rem;
    font-weight: normal;
    margin: 0;
    line-height: 2rem;
    &:not(:first-child) {
      @extend .visually-hidden;
    }
  }
  .menu {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      float: left;
    }
    a {
      display: block;
    }
  }
  .global-menu {
    float: left;
    clear: left;
    a {
      font-weight: $body-font-bold;
      font-size: 1.25rem;
      line-height: 2rem;
      padding: 0 0.5rem;
    }
    .current a {
      background-color: shade($secondary-color, 10%);
      box-shadow: inset 0 1px 0 0 shade($secondary-color, 30%), inset 0 -1px 0 0 tint($secondary-color, 30%);
      border-radius: $global-radius;
    }
  }
  .meta-menu {
    float: right;
    position: relative;
    overflow: hidden;
    padding-left: 1rem;
    margin-left: 1rem;
    a {
      span {
        @extend .visually-hidden;
      }
      &:before {
        display: block;
        width: 2rem;
        height: 2rem;
        font-size: 2rem;
        line-height: 2rem;
        vertical-align: bottom !important;
        text-align: center;
      }
    }
    .info a:before { @extend .icon-circle-info; }
    .about a:before { @extend .icon-circle-question; }
    &:before {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
      background: shade($secondary-color, 15%);
      width: 1px;
      height: 10rem;
      box-shadow: 1px 0 0 0 tint($secondary-color, 30%);
      content: '';
    }
  }

  @media #{$small-up} {
    .menu-title {
      right: 4rem;
    }
    .menu-wrapper {
      padding-left: 4rem;
      padding-right: 4rem;
    }
  }
  @media #{$medium-up} {
    @include grid-column(7);
    text-align: right;
    
    .menu-title {
      display: none;
    }
    
    .menu-wrapper {
      position: static;
      float: right;
      padding: 0.375rem 0;
      background-color: transparent;
      box-shadow: none;
      width: auto;
      opacity: 1;
      visibility: visible;
      &:before {
        display: none;
      }
    }
    
    .menu {
      float: left;
      margin: 0 0 0 0.5rem;
    }
    
    .global-menu {
      clear: none;
    }
    
    .menu-subtitle {
      float: left;
    }
  }
}

#site-title {
  font-size: 1.5rem;
  line-height: 1;
  margin: 0;
  color: #FFF;
  letter-spacing: -0.05rem;
}

#site-subtitle {
  position: absolute;
  top: 0;
  left: auto;
  z-index: 1;
  font-size: 0.85rem;
  line-height: 1.25rem;
  text-transform: uppercase;
  font-weight: normal;
  margin: 0;
  color: #FFF;
  width: 100%;
  strong {
    padding: 0 0.25rem;
    background-color: shade($secondary-color, 10%);
    box-shadow: inset 0 1px 0 0 shade($secondary-color, 30%), inset 0 -1px 0 0 tint($secondary-color, 30%);
    display: inline-block;
    font-weight: inherit;
    border-radius: $global-radius;
  }
}

.cards {
  list-style: none;

  .card-wrapper {
    @include grid-column(12);

    @media #{$medium-up} {
      @include grid-column(6);
      &:nth-child(2n+1) {
        clear: left;
      }
    }
    @media #{$large-up} {
      @include grid-column(4);
      &:nth-child(2n+1) {
        clear: none;
      }
      &:nth-child(3n+1) {
        clear: left;
      }
    }
  }
}

%impact-area-badge {
  &:before {
    @extend .antialiased;
    display: inline-block;
    text-align: center;
    vertical-align: bottom;
    color: #FFF;
    @extend %global-text-shadow;
    border-radius: $global-rounded;
  }
  
  &.human-rights:before {
    background: $human-rights-color;
    @extend .icon-human-rights;
  }
  &.environment:before {
    background: $environment-color;
    @extend .icon-leaf;
  }
  &.children:before {
    background: $children-color;
    @extend .icon-children;
  }
  &.health:before {
    background: $health-color;
    @extend .icon-aid;
  }
  &.elderly:before {
    background: $elderly-color;
    @extend .icon-elderly;
  }
  &.disaster-relief:before {
    background: $disaster-relief-color;
    @extend .icon-warning;
  }
}

.banner {
  .prime-title {
    @extend .hd-xl;
    margin-bottom: 0;
  }
  .single & {
    padding-bottom: 2rem;
  }
  .hub & {
    .prime-title { @extend .visually-hidden; }
  }
}

.foot .inner {
  text-align: center;
  @include grid-column(12);
}

.single, .national {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.hub, .single {

  .heading {
    @include grid-column(12);
    .meta {
      margin: 0;
      dt, span {
        @extend .visually-hidden;
      }
      dd {
        margin: 0;
        font-size: 1.25rem;
        line-height: 1.75rem;
        color: tint($primary-color, 20%);
      }
      .impact-area {
        @extend %impact-area-badge;
        &:before {
          position: absolute;
          top: 0;
          right: $column-gutter/2;
          z-index: 1;
          font-size: 2rem;
          width: 4rem;
          height: 4rem;
          line-height: 2;
          @media #{$medium-up} {
            top: rem-calc(2);
          }
          @media #{$large-up} {
            right: auto;
            left: $column-gutter/2;
          }
        }
      }
    }
  }
  
  &.organization .heading {
    position: relative;
    padding-right: 6rem;
    margin-bottom: 1rem;
    @media #{$large-up} {
      padding-right: 1rem;
      padding-left: 6rem;
      margin-bottom: 0;
    }
  }
  
  #sec-nav {
    @include grid-column(12);
    ul {
      @include reset-list();
    }
    .menu {
      @extend .clearfix;
      margin: 0.5rem 0 0 0;
      > li {
        float: left;
        margin-left: 1.25rem;
        &:first-child {
          margin-left: 0;
        }
      }
    }
    .tab {
      a {
        position: relative;
        display: block;
        line-height: 2.5rem;
        font-size: 1.25rem;
        font-weight: $body-font-bold;
        color: inherit;
      }
      &.current a:after {
        position: absolute;
        bottom: -4px;
        left: 0;
        content: '';
        height: 4px;
        width: 100%;
        background: $secondary-color;
      }
    }
    #go-social {
      float: right;
      position: relative;
      @media #{$xsmall-only} {
        .share {
          &:before {
            margin-right: 0;
            font-size: 1.25rem;
          }
          span {
            border: 0 none;
            clip: rect(0px, 0px, 0px, 0px);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
          }
        }
      }
    }
    .menu-share {
      .facebook a:before { @extend .icon-facebook; }
      .twitter a:before { @extend .icon-twitter; }
      .google-plus a:before { @extend .icon-google-plus; }
      .email a:before { @extend .icon-email; }
    }
  }
  .column {
    @include grid-column(12);
  }
  @media #{$medium-up} {
    .column {
      @include grid-column(6);
    }
  }
  @media #{$large-up} {	
    .heading {
      @include grid-column(7);
    }
    #sec-nav {
      @include grid-column(5);
      .menu {
        margin: 0 0 1rem 0;
        float: right;
      }
    }
    .column {
      @include grid-column(6);
    }
  }
}

#site-foot {
  display: none;
  @include grid-column(12);
}