/* Base button style */
.bttn {
  display: inline-block;
  padding: 0 0.75rem;
  border-radius: $global-radius;
  font-weight: $body-font-bold;
  text-align: center;
  @include user-select(none);
  cursor: pointer;
  border: 1px solid tint($primary-color, 75%);
  white-space: nowrap;
  background: #FFF;
  box-shadow: 0 2px 0 0 rgba($primary-color, 0.1);
  
  &:link,
  &:active,
  &:visited {
    position: static;
    top: 0;
  }
  &:active {
    opacity: 1;
  }
  &:before, &:after {
    font-weight: normal;
    font-size: rem-calc(16);
    vertical-align: bottom !important;
  }
  &:before {
    margin-right: 0.375rem;
  }
  &:after {
    margin-left: 0.375rem;
    opacity: 0.4;
  }
  &.share:before {
    @extend .icon-share-reg;
  }
}

.bttn-dropdown {
  &:after {
    @extend .icon-s-arr-down;
    margin-left: rem-calc(4);
    opacity: 0.6;
  }
}

/* Button sizes */
.bttn-s {
  line-height: rem-calc(24);
  font-size: 0.875rem;
}
.bttn-m {
  line-height: rem-calc(30);
  font-size: 1rem;
}
.bttn-l {
  line-height: rem-calc(38);
  font-size: 1.25rem;
}

/* Button colors */

// White
.bttn-default {
  color: $primary-color;
  background: #FFF;
  border-color: tint($primary-color, 75%);
  &:before {
    color: $secondary-color;
  }
  &:hover, &:focus {
    color: $primary-color;
  }
  &:active, &.current {
    color: $primary-color;
    box-shadow: 0 1px 0 0 rgba(#FFF, 0.5), inset 0 2px 0 0 rgba($primary-color, 0.1);
  }
}

// Dark grey
.bttn-primary {
  color: #FFF;
  background: $primary-color;
  border-color: shade($primary-color, 15%);
  @extend .antialiased;
  @extend %global-text-shadow;
  &:hover, &:focus {
    color: #FFF;
  }
  &:active, &.current {
    border-color: shade($primary-color, 25%);
    background: shade($primary-color, 10%);
    box-shadow: 0 1px 0 0 rgba(#FFF, 0.5), inset 0 2px 0 0 shade($primary-color, 20%);
    color: #FFF;
  }
}
