---
layout: base
title : Home
---
<style>
  #site-body { position: relative; height: 600px; }
  #map { position:absolute; top:0; bottom:0; height: 600px; width:100%; }
</style>
<div id='map'></div>



<style>
  #filters {
    position: absolute; bottom: 0; left:0; right: 0; height:200px; background: rgba(0, 0, 0, .40); z-index: 1;
  }
  #filters a {
    display:block;
    color: white;
    padding: 5px;
  }
  #filters a.on {
    color: red;
  }
</style>
<div id="filters">
  <div style="float:left; width:30%;">
    {% for imp in site.data.impact_areas %}
    <a href="#" data-filter-id="{{ imp[1].id }}" data-filter-type="impact_area">{{ imp[0] }}</a>
    {% endfor %}
  </div>
  <div style="float:left; width:30%;">
    {% for key in site.data.keywords %}
    <a href="#" data-filter-id="{{ key[1].id }}" data-filter-type="keyword">{{ key[0] }}</a>
    {% endfor %}
  </div>
</div>