---
layout: base
permalink: national/index.html
active_menu : national
title : National organizations
---
<ul class="national cards row">
  {% for org in site.categories.national_org %}
  <li>
    <header>
      <a href="{{ org.url }}" title="Read more about organization"><h2>{{ org.title }}</h2></a>
    </header>
    <p class="introduction">
      {% if org.description %}
        {{ org.description | truncate }}
      {% elsif org.mission %}
        {{ org.mission | truncate }}
      {% else %}
        <em>No description</em>
      {% endif %}
    </p>
    <footer>
      <a href="{{ org.url }}" title="Read more about organization">Learn more about us</a>
    </footer>
  </li>
  {% endfor %}
</ul>