<meta property="og:site_name" content="Flipside" />
<meta property="og:type" content="website" />
<meta property="og:title" content="{{ page.title }} - Flipside" />
<meta property="og:url" content="{{ site.domain }}{{ page.url }}" />
<!-- <meta property="og:description" content="{{ site.data.flipside.description }}" > -->
<!-- <meta property="og:image" content="{{ site.domain }}/images/{{ page.image }}" /> -->
<meta property="og:image" content="{{ site.domain }}/assets/images/meta/og-image.png" />