<li id="go-social">
  <a class="toggle share" href="#share-links"><span>Share</span></a>
  <ul class="menu-share" id="share-links">
    <li class="facebook">
      <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.domain }}{{ page.url }}" target="_blank" class="facebook" title="Share this on Facebook">Facebook</a>
    </li>
    <li class="twitter">
      <a href="https://twitter.com/share?url={{ site.domain }}{{ page.url }}" target="_blank" class="twitter" title="Share this on Twitter">Twitter</a>
    </li>
    <li class="google-plus">
      <a href="https://plus.google.com/share?url={{ site.domain }}{{ page.url }}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600'); return false;" class="google-plus" title="Share this on Google+">Google+</a>
    </li>
  </ul>
</li>