{% assign contact_section == '' %}

{% if page.first_name or page.last_name or page.title_contact_person %}
  {% capture contact_section %}
    <dt>Name</dt>
    <dd class="person">
      {{ page.first_name }} {{ page.last_name }} <small class="role">{{ page.title_contact_person }}</small>
    </dd>
  {% endcapture %}
{% endif %}
{% if page.contact_person_intro %}
  {% capture contact_section %}{{ contact_section }}
    <dt>Description</dt>
    <dd class="bio">{{ page.contact_person_intro | markdownify }}</dd>
  {% endcapture %}
{% endif %}
{% if page.email %}
  {% capture contact_section %}{{ contact_section }}
    <dt>Email</dt>
    <dd class="email"><a href="mailto:{{ page.email }}" title="Email the contact person">{{ page.email }}</a></dd>
  {% endcapture %}
{% endif %}
{% if page.website %}
  {% capture contact_section %}{{ contact_section }}
    <dt>Website</dt>
    <dd class="site"><a href="http://{{ page.website }}" title="Visit website">{{ page.website }}</a></dd>
  {% endcapture %}
{% endif %}
{% if page.phone %}
  {% capture contact_section %}{{ contact_section }}
    <dt>Phone</dt>
    {% if page.ext %}
      <dd class="phone">
        <a href="tel:{{ page.phone }}pp{{ page.ext }}" title="Phone">{{ page.phone }}</a>
        <small class="role">Ext. {{ page.ext }}</small>
      </dd>
    {% else %}
      <dd class="phone"><a href="tel:{{ page.phone }}" title="Phone">{{ page.phone }}</a></dd>
    {% endif %}
  {% endcapture %}
{% endif %}
{% if page.fax %}
  {% capture contact_section %}{{ contact_section }}
    <dt>Fax</dt>
    <dd class="fax"><a href="fax:{{ page.fax }}" title="Fax">{{ page.fax }}</a></dd>
  {% endcapture %}
{% endif %}
{% if page.address %}
  {% capture contact_section %}{{ contact_section }}
    <dt>Address</dt>
    <dd class="address">{{ page.address | markdownify }}</dd>
    <dd class="map">
      <div id="map-container" data-lat="{{page.lat}}" data-lng="{{page.lng}}"><!-- map --></div>
    </dd>
  {% endcapture %}
{% endif %}

{% if contact_section %}
  <section class="contact contained block">
    <header class="contained-head">
      <h1 class="prime-title">Who to contact</h1>
    </header>
    <div class="contained-body">
      <dl class="contact-list">
      {{ contact_section }}
      </dl>
    </div>
  </section>
{% endif %}