{% assign what_section == '' %}

{% if page.learn %}
  {% capture what_section %}
    <div class="contained-row">
      <h2>How can we help you learn more about us</h2>
      <p>{{ page.learn }}</p>
    </div>
  {% endcapture %}
{% endif %}
{% if page.cont_relationship %}
  {% capture what_section %}{{ what_section }}
    <div class="contained-row">
      <h2>How we'd like to keep up the relationship with your school</h2>
      <p>{{ page.cont_relationship }}</p>
    </div>
  {% endcapture %}
{% endif %}

{% if what_section %}
  <section class="what-can-we-do contained block">
    <header class="contained-head">
      <h1 class="prime-title">What can we do</h1>
    </header>
    <div class="contained-body">
    {{ what_section }}
  </div>
  </section>
{% endif %}