<section class="about-us contained block">
  <header class="contained-head">
    <h1 class="prime-title">About us</h1>
  </header>
  <div class="contained-body">
    {% if page.description %}
    <div class="contained-row">
      <h2>Description</h2>
      <p>{{ page.description | markdownify }}</p>
    </div>
    {% endif %}
    {% if page.mission %}
    <div class="contained-row">
      <h2>Mission</h2>
      <p>{{ page.mission | markdownify }}</p>
    </div>
    {% endif %}
    {% if page.keywords %}
    <div class="contained-row">
      <h2>We help</h2>
      <ul class="tag-list">
      {% for keyword in page.keywords %}  
        <li>{{ keyword }}</li>
      {% endfor %}
      </ul>
    </div>
    {% endif %}
    {% unless page.description or page.mission or page.keywords %}
      <p class="empty">This organization doesn't have a description yet.</p>
    {% endunless %}
  </div>
</section>
