<section class="about-us contained block">
  <header class="contained-head">
    <h1 class="prime-title">About us</h1>
    <dl class="meta">
      <dt>Impact area:<dt>
      <dd class="impact-area children"><span>{{ org.impact_area }}</span></dd>
    </dl>
  </header>
  <div class="contained-body">
    {% if page.description %}
    <div class="contained-row">
      <h2>Description</h2>
      <p>{{ page.description }}</p>
    </div>
    {% endif %}
    {% if page.keywords %}
    <div class="contained-row">
      <h2>We help</h2>
      <ul class="tag-list">
      {% for keyword in page.keywords %}  
        <li>{{ keyword }}</li>
      {% endfor %}
      </ul>
    {% endif %}
    </div>
  </div>
</section>