{% capture contact_section %}
  {% if page.first_name or page.last_name or page.title_contact_person %}
    <li class="contact_person">
      {{ page.first_name }} {{ page.last_name }}<br/>
      {{ page.title_contact_person }}
    </li>
  {% endif %}
  {% if page.contact_person_intro %}
    <li class="bio">{{ page.contact_person_intro }}</li>
  {% endif %}
  {% if page.address %}
    <li class="address">{{ page.address | markdownify }}</li>
  {% endif %}
  {% if page.phone %}
    <li class="phone">{{ page.phone }}</li>
  {% endif %}
  {% if page.website %}
    <li class="site"><a href="{{ page.website }}" title="Website {{ page.title }}">{{ page.website }}</a></li>
  {% endif %}
{% endcapture %}
{% if contact_section %}
  <section class="contact">
    <h1>Who to contact</h1>
    <ul>
    {{ contact_section }}
    </ul>
  </section>
{% endif %}