<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@{{ site.data.flipside.twitter }}">
<!--  <meta name="twitter:creator" content="@{{ site.data.team[page.user].twitter }}"> -->
<meta name="twitter:title" content="{{ page.title }} - Flipside">
<meta property="twitter:description" content="{{ site.data.flipside.description }}" >
{% if page.image %}
  <meta property="twitter:image" content="{{ site.domain }}/assets/images/{{ page.image }}" />
{% else %}
  <meta property="twitter:image" content="{{ site.domain }}/assets/images/meta/og-image.png" />  
{% endif %}