<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>{{ site.name }}</title>
  <link rel="stylesheet" href="/css/app.css">
  <script src="/scripts/media.min.js"></script>
  <script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.css' rel='stylesheet' />
</head>
<body>
  
  <div id="site-canvas">
    <div class="row">
      <header id="site-hdr" role="banner">
        <h1 id="site-title">
          <a href="{{ site.domain }}" title="Go home"><img src="/images/flipside-logo.svg" alt="Flipside logo" title="Flipside" /><span class="visually-hidden">Flipside</span></a>
        </h1>
      </header>
    </div>

    <div class="row">
      <main id="site-body" role="main">
        {{ content }}
      </main>
    </div>
    
    <div class="row">
      <footer id="site-ftr" role="contentinfo">
        <p class="built-by">
          Flipside - 2014
        </p>
      </footer>
    </div>
  </div>
  
  <script src="/scripts/foundation.min.js"></script>  
  <script src="/scripts/website.min.js"></script>
  
</body>
</html>
