<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>{{ site.name }}</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/styles/app.css">
  <script src="/scripts/media.min.js"></script>
  <script src="/scripts/foundation.min.js"></script>  
  <script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.css' rel='stylesheet' />
</head>
<body>
  
  <div id="site-canvas">
    <header id="site-hdr" role="banner">
      <div class="row">
        <h1 id="site-title">
          <a href="{{ site.domain }}" title="Go home">Organization Finder</a>
        </h1>
        {% include menu.html %}
      </div>
    </header>

    <main id="site-body" role="main">
      {{ content }}
    </main>
    
    <footer id="site-ftr" role="contentinfo">
      <div class="row">
        <p class="built-by">
          Flipside - 2014
        </p>
      </div>
    </footer>
  </div>
  
  <script src="/scripts/website.min.js"></script>
  
</body>
</html>
