---
layout: base
---
<article class="organization">
  <header class="banner">
    <div class="row">
      <div class="title-bar">
        <h1 class="title">{{ page.title }}</h1>
      </div>
    </div>
  </header>

  <div class="content row">
    <div class="column">
      <section class="about-us">
        <h1>About us</h1>
        {{ page.impact_area }}
        {{ content }}
        <h2>We help</h2>
        {{ page.keywords }}
      </section>
      <section class="wish-list">
        <h1>Our wish list</h1>
        <h2>Community grants</h2>
        <ul>
          <li>{{ page.descr_grants1 }}</li>
          <li>{{ page.descr_grants2 }}</li>
        </ul>
        <h2>Service projects</h2>
        <ul>
          <li>{{ page.descr_serv1 }}</li>
          <li>{{ page.descr_serv2 }}</li>
        </ul>
      </section>
      <section class="what-can-we-do">
        <h1>What can we do</h1>
        <h2>How can we help you learn more about us</h2>
        <p>{{ page.learn }}</p>
        <h2>How we'd like to keep up the relationship with your school</h2>
        <p>{{ page.cont_relationship }}</p>
      </section>
    </div>
    <div class="column">
      <section class="stats">
        <h1>Some stats</h1>
      </section>
      <section class="contact">
        <h1>Who to contact</h1>
        <ul>
        <li>
          {{ page.first_name }} {{ page.last_name }}<br/>
          {{ page.title_contact_person }}
        </li>
        <li>{{ page.contact_person_intro }}</li>
        <li>{{ page.address | markdownify }}</li>
        <li>{{ page.phone }}</li>
        </ul>
      </section>
    </div>
  </div>
</article>