---
layout: base
---
<article class="organization">
  <header class="banner">
    <div class="row">
      <div class="title-bar">
        <h1 class="title">{{ page.title }}</h1>
      </div>
    </div>
  </header>

  <div class="content row">
    <div class="column">
      <section class="about-us">
        <h1>About us</h1>
        {{ page.impact_area }}
        {{ content }}
        <h2>We help</h2>
        <ul>
        {% for keyword in page.keywords %}  
          <li>{{ keyword }}</li>
        {% endfor %}
        </ul>
      </section>
      {% include org-wish-section.html %}
      {% include org-what-section.html %}
    </div>
    <div class="column">
      <section class="stats">
        <h1>Some stats</h1>
      </section>
      {% include org-contact-section.html %}
    </div>
  </div>
</article>