---
layout: base
---
<article class="single organization">
  <header class="banner row">
    <div class="heading">
      <h1 class="prime-title">{{ page.title }} teste</h1>
    </div>
    <nav id="sec-nav">
      <ul class="menu">
        <li class="tab current"><a href="#" title="View overview">Overview</a></li>
        <li class="tab"><a href="#" title="View report">Report</a></li>
        {% include menu-share.html %}
      </ul>
    </nav>
  </header>

  <div class="content row">
    <div class="column">
      {% include org-about-section.html %}
      {% include org-wish-section.html %}
      {% include org-what-section.html %}
    </div>
    <div class="column">
      <section class="stats">
        <h1>Some stats</h1>
      </section>
      {% include org-contact-section.html %}
    </div>
  </div>
</article>